/* ==== GOOGLE FONTS ====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&family=Roboto:wght@100;400;700;900&display=swap");
/* ==== VARIABLES CSS ====*/
:root {
  /* ==== CoLors ====*/
  /* Change favorite coLor */
  --hue-color: 740;

  /* HSL coLor mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --text-color: hsl(var(--hue-color), 8%, 10%);
  --text-color-light: hsl(var(--hue-color), 100%, 100%);
  --text-color-alt: hsl(var(--hue-color), 69%, 61%);
  --description-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #4b4a4a;

  /* ==== Font and typography ====*/
  --body-font: "Montserrat", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  /* ==== Font weight ====*/
  --font-thin: 100;
  --font-medium: 400;
  --font-semi-bold: 700;
  --font-bold: 900;

  /* ==== Margens Bottom ====*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */

  --mb-0-5: 0.5rem;
  --mb-1: 1rem;
}

/* _______________________RESET________________________ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  font-family: var(--body-font);
}

.flex {
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "main"
    "social";
}

.logo {
  background: var(--first-color);
  grid-area: logo;
}

.logo img {
  width: 8rem;
}

.social-info {
  grid-area: social;
  padding: 1rem;
  background-color: var(--first-color);
  color: var(--text-color-light);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.my-social {
  padding-top: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.social-icons a {
  font-weight: var(--font-semi-bold);
  color: var(--text-color-light);
  padding-right: 1rem;
}

.description-container {
  grid-area: main;
  background-color: var(--description-color);
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "my-img"
    "description";
  grid-column: 1fr;
  gap: 1rem;
}

.title {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
}

.title-name {
  font-weight: var(--font-bold);
}

.title-profession {
  color: var(--text-color-alt);
  margin: var(--mb-0-5) 0;
  font-weight: var(--font-medium);
}

.my-description {
  margin-top: var(--mb-1);
  font-weight: var(--font-thin);
  font-size: var(--small-font-size);
  line-height: 1.4rem;
}

.info-buttons {
  margin: var(--mb-1) 0;
}

button {
  border-radius: 1rem;
  padding: 0.55rem 1.2rem;
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
}

.portfolio {
  border: 2.2px solid var(--first-color);
  background-color: var(--first-color);
  margin-right: var(--mb-1);
}

.portfolio a {
  color: var(--text-color-light);
}

.resume {
  border: 2.2px solid black;
  background-color: #fff;
}

.resume a {
  color: var(--text-color);
}

.my-img {
  padding-top: 1rem;
  width: 100%;
}

.my-img img {
  width: 12rem;
}

@media (width > 840px) {
  .content {
    position: absolute;
    max-width: 65rem;
    grid-template-areas:
      "logo main"
      "social main";
  }
  .description-container {
    height: 35rem;
    padding-left: 20rem;
  }
  .logo,
  .social-info {
    width: 18rem;
  }

  .my-img img {
    position: absolute;
    width: 20rem;
    top: 2.5rem;
    left: 26%;
  }
}
@media (300px < width <= 840px) {
  .description-container {
    justify-content: center;
    grid-template-areas: "my-img description";
  }
}
