@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* _________________________NAVBAR___________________________ */
header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: rgb(233, 237, 242);
}
.myLogo {
  padding-right: 3rem;
  font-size: 1.6rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar-left ul,
.navbar-right,
.navbar-right ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

a {
  color: black;
}

.navbar-more {
  color: rgb(131, 131, 131);
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-right {
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 3rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.button .blue {
  border-right: 2px solid black;
  background-color: rgb(63, 155, 248);
  padding: 0.3rem 0.8rem;
  color: #fff;
}
.button .noColor {
  padding: 0.3rem 0.8rem;
}
