@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Source+Serif+Pro:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  & ul {
    list-style: none;
  }
}

.container {
  padding: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #f6f2f2;
}

.content {
  padding: 3rem;
  font-family: "Roboto", sans-serif;
  color: rgb(40, 41, 52);
  background-color: #fff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.06),
    0 -2px 20px 2px rgb(255, 255, 255);
}

.page {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
}

.container h1 {
  padding-top: 2rem;
  font-family: "Source Serif Pro", serif;
  font-size: 4rem;
  font-weight: 400;
}

.page-info {
  padding: 2.5rem 0;
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.btn {
  width: 100%;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: rgb(46, 50, 56);
  color: rgb(216, 216, 216);
  padding: 2rem;
  border: none;
}

/* ======= Complex layout =======*/

.complex-pixel-plan {
  background-color: #fff;
  padding: 0;
  border-radius: 2rem;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.06),
    0 -2px 20px 2px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #3e3d3d;

  font-family: "Roboto", sans-serif;
}

.title-complex {
  padding-top: -1rem;
  font-family: sans-serif;
  font-weight: 600;
  border-bottom: 1.8px solid #cfcece9c;
  line-height: 3rem;
  width: 100%;
  text-align: center;
}

.description-title-complex {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1.8px solid #cfcece9c;
}

.price-container {
  border-bottom: 1.8px solid #cfcece9c;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.price {
  font-family: "Caladea", serif;
  display: inline;
  color: rgb(39, 178, 154);
  font-size: 2.5rem;
  font-weight: bolder;
  border-right: 1.8px solid #cfcece9c;
  padding-right: 1rem;
}

.price-description {
  padding-left: 1rem;
  color: rgb(130, 130, 130);
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
  width: 6rem;
  text-align: initial;
}

.details {
  padding: 2rem;
  color: rgb(45, 44, 44);
}

.title-detail {
  padding-bottom: 1rem;
}

.title-detail span {
  font-weight: bold;
}

.title-detail i,
.list i {
  padding-right: 1rem;
}

.list {
  padding-bottom: 2rem;
}

.list li {
  color: #3e3d3d;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.fa-circle-info {
  color: #dad9d9;
}
.btn-plan {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.4rem;
  padding: 1rem;
  color: #fff;
  background-color: rgb(239, 129, 82);
}

/* _______________TEAM _______________*/

.team {
  background-color: #f6f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container-team {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.role {
  padding: 0.4rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1.8px solid #cfcece9c;
}

.card-team {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding-bottom: 2rem;
}

.card-team img {
  padding: 1rem;
  object-fit: cover;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.description {
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.6rem;
}

.role-description {
  font-family: sans-serif;
  color: #77777c;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.4rem 1.3rem;
}

.social-media {
  display: flex;
  gap: 1rem;
  padding: 0.8rem 1.3rem;
  border-radius: 3rem;
  border: 1px solid #cfcece9c;
}

.social-media i {
  font-size: 1rem;
  color: #292828;
}

@media (width > 400px) {
  .content {
    max-width: 40rem;
  }
  .complex-pixel-plan {
    width: 30rem;
  }
  .description-title-complex {
    padding: 1rem 6rem;
  }
  .container-team {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-team {
    width: 20rem;
  }
}
