@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* _________________________NAVBAR___________________________ */

header {
  padding: 1rem;
  background-color: rgb(40, 40, 40);
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navBar {
  align-items: end;
}
.navBar ul {
  display: flex;
  gap: 3rem;
}
.navBar a {
  color: #fff;
}

.login i {
  font-style: normal;
  color: #fff;
  padding-right: 0.5rem;
}

/* _________________________Section 1___________________________ */
.blueSection {
  background-color: rgb(30, 147, 204);
}
/* _________________________Top___________________________ */
.top {
  display: flex;
  align-items: center;
  gap: 4rem;
  /* justify-content: space-around; */
  margin: 0 7rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}
.content p {
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}

button {
  padding: 1rem;
  background-color: rgb(233, 144, 2);
  border: 2px solid #fff;
  border-radius: 0.7rem;
  color: #fff;
  font-size: large;
}

/* _________________________Division___________________________ */
.division {
  background-color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(40, 40, 40);
}
/* _________________________Information___________________________ */
.information {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 2rem;
  color: #fff;
  font-weight: lighter;
}

.inf-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
/* _________________________Sponsors___________________________ */

.sponsors {
  background-color: rgb(238, 238, 238);
}
/* _________________________Actions___________________________ */

.actions {
  height: 12rem;
  padding-right: 4rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.restApi,
.Docs {
  background-color: rgb(22, 88, 130);
  padding: 1rem 3rem;
}

.building {
  background-color: rgb(233, 144, 2);
  padding: 1rem 3rem;
}

/* _________________________FOOTER___________________________ */

footer {
  padding: 1rem;
  background-color: rgb(40, 40, 40);
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 0.7rem;
}

footer li,
.copyright {
  width: 2rem;
}
