@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* _________________________NAVBAR___________________________ */
.full-black {
  box-shadow: 0 0 0 100vmax rgb(40, 40, 40);
  clip-path: inset(0 -100vmax);
}

header,
footer {
  background-color: rgb(40, 40, 40);
  width: 100%;
}

header {
  padding: 1rem;
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navBar {
  align-items: end;
  width: 100%;
  padding-left: 2rem;
}
.navBar ul,
.navFooter ul {
  display: flex;
  gap: 3rem;
}
a {
  color: #fff;
}
.login {
  margin-left: auto;
}

.login i {
  font-style: normal;
  color: #fff;
  padding-right: 0.5rem;
}

/* _________________________Section 1___________________________ */
.full-blue {
  box-shadow: 0 0 0 100vmax rgb(30, 147, 204);
  clip-path: inset(0 -100vmax);
}
.blueSection {
  background-color: rgb(30, 147, 204);
  padding: 1rem 0;
}
/* _________________________Top___________________________ */
.top {
  display: flex;
  align-items: center;
  gap: 4rem;
  /* justify-content: space-around; */
  margin: 0 7rem;
}

.myAvatar img {
  width: 18rem;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content p {
  font-size: 1.6rem;
  color: #fff;
  margin: 2rem 0;
}

button {
  padding: 1rem;
  background-color: rgb(233, 144, 2);
  border: 2px solid #fff;
  border-radius: 0.7rem;
  color: #fff;
  font-size: large;
}

/* _________________________Division___________________________ */
.full-division {
  box-shadow: 0 0 0 100vmax #fff;
  clip-path: inset(0 -100vmax);
}
.division {
  background-color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(40, 40, 40);
}
.color {
  color: gray;
  font-weight: lighter;
}
/* _________________________Information___________________________ */
.information {
  margin: 2rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 2rem;
  color: #fff;
  font-weight: lighter;
}

.inf-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
/* _________________________Sponsors___________________________ */
.full-sponsors {
  box-shadow: 0 0 0 100vmax rgb(238, 238, 238);
  clip-path: inset(0 -100vmax);
}
.sponsors {
  background-color: rgb(238, 238, 238);
  text-align: center;
}
.sponsors img {
  width: auto;
}

/* _________________________Actions___________________________ */

.actions {
  margin: 2rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.restApi,
.Docs {
  background-color: rgb(22, 88, 130);
  padding: 1rem 3rem;
}

.building {
  background-color: rgb(233, 144, 2);
  padding: 1rem 3rem;
}

/* _________________________FOOTER___________________________ */

.navFooter {
  padding: 2rem;

  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 0.7rem;
}

footer li,
.copyright {
  width: 3rem;
}

/* ____________________Big devices_________________ */

@media screen and (min-width: 1024px) {
  /* header,
  .top,
  .division,
  .information,
  .actions,
  footer {
    padding: 1rem 15rem;
  } */
  .sponsors img {
    width: 768px;
  }
}

/* ____________________Medium devices_________________ */

@media screen and (max-width: 768px) {
  .loginText {
    display: none;
  }
  header,
  .top,
  .division,
  .information,
  .actions,
  footer {
    padding: 1rem 2rem;
  }

  .navBar ul {
    gap: 1.3rem;
  }

  .sponsors {
    height: 10rem;
  }
}

/* ____________________Small devices_________________ */

@media screen and (max-width: 500px) {
  .navBar ul {
    position: fixed;
    inset: 0 0 0 30%;
    background: steelblue;
    flex-direction: column;
  }
  .login {
    margin-left: 0;
  }
  .top {
    margin: 1rem;
    gap: 0;
  }
  .myAvatar img {
    width: 10rem;
  }

  .content p {
    font-size: 1.3rem;
    text-align: center;
  }

  .content button {
    font-size: 1rem;
  }
  .information {
    margin: 2rem;
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .sponsors img {
    width: 25rem;
  }
  .actions {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .copyright {
    justify-content: center;
  }
}
