@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #f0e9d7ba, #d9e4efb9),
    url(./assets/img/myBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* position: static;
  bottom: 0;
  right: 0; */
}

.myBody {
  margin: 0 4rem;
  width: 90%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgb(2, 57, 74);
}

nav {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  padding-right: 4rem;
}

h2 {
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: #222;
}

p {
  color: #222;
  font-family: serif;
  line-height: 32px; /* within paragraph */
  margin-bottom: 30px;
}

.box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.citation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(2, 57, 74);
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}

figure {
  display: flex;
  flex-flow: column;
  margin: 5rem;
  max-width: 400px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px 0;
  text-align: center;
}

.title {
  padding: 4rem 0;
}

.subtitle {
  text-align: left;
}

.moreInfo {
  text-align: right;
}

.text1 {
  padding: 1rem 0;
}

.list {
  padding: 1.5rem;
}

.conclusion {
  padding: 1rem;
}

.citation p {
  width: 40rem;
  display: inline-block;
}

.citation figure {
  width: 40rem;
  margin: 0 0 0 6rem;
}

.citation img {
  width: 400px;
}

.quoteAuthor {
  text-align: right;
}
.quoteAuthor a {
  text-decoration: none;
  color: #222;
}
.quoteAuthor a:hover {
  color: blue;
  text-decoration: underline;
}

.tableDescripiton {
  padding: 1rem;
}

.list {
  width: 80rem;
}

.list li {
  list-style: none;
  padding: 1.5rem;
  border: solid rgb(2, 57, 74);
}

li:nth-child(1) {
  background-image: url(assets/img/bien.png);
  background-repeat: no-repeat;
  background-position: right;
}
li:nth-child(2) {
  background-image: url(assets/img/mal.png);
  background-repeat: no-repeat;
  background-position: right;
}
li:nth-child(3) {
  background-image: url(assets/img/chat.png);
  background-repeat: no-repeat;
  background-position: right;
}

blockquote {
  margin: 0 25rem;
  width: 50%;
  font-size: 160%;
  background-color: #c0c0c0;
  border-left: 1rem solid firebrick;
  padding: 80px 0 80px 30px;
  font-style: italic;
}
.farmer {
  background-color: rgb(236, 178, 139);
}

.neighbor {
  background-color: rgb(211, 215, 239);
}

th span {
  text-transform: capitalize;
}

.good {
  color: green;
}

.bad {
  color: red;
}

table {
  margin: 0 auto;
  padding: 0 0 0 2rem;
  width: 50%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(2, 57, 74);
  color: white;
}

table tr td:nth-child(2) {
  font-style: italic;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

.notification {
  background: #ffffdd;
  padding: 0.5rem 1rem;
  border: 3px solid #ddddcc;
  width: 250px;
  font-weight: bold;
  color: #333300;
  position: fixed;
  right: 1rem;
  bottom: 2%;
}

.scrollupUP {
  position: fixed;
  right: 1rem;
  bottom: 17%;
}

.scrollupUP img {
  width: 2rem;
  color: red;
}

.scrollupUP:hover {
  width: 2.5rem;
  background-color: rgb(153, 215, 235);
}

footer {
  text-align: center;
  line-height: 2rem;
  padding: 1rem;
  background-color: #222;
  color: #c0c0c0;
}

footer a {
  color: #c0c0c0;
  text-decoration: none;
}

footer a:hover {
  color: yellow;
  text-decoration: underline;
}
